body{

background-color: white;
font-family: 'Nunito', serif;
}
.button{
    background-color: #ec4067;
    font-family: 'Nunito', Times, serif;

}
.container {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
  justify-content:space-between;
  justify-items: right;
  

}

.Moringa School{

flex: 3px;
font-size: large;
}

.Careers{

  width: 100px;
text-align: right;
}

.Our projects {

  width: 10px;
  text-align: right;

}
.Stories{

  width: 50px;
  text-align: right;

}
.button {

  width: 100px;
  text-align: right;

}
.visuals {
    font-style: bold;

}

footer{
    background-color: grey;
    text-align: center;
  color: black;
  padding: 15px;
}


    