/*body*/body{

background-color: white;
font-family: 'Nunito', san-serif;
}



header{
  margin: 0px;
  box-sizing: 0;
  padding: 0%;
  background-color: white;
  display: flex;
}

.navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 10px;
  margin: auto;

}
.navbar .nav-links{
   color: black;
   text-decoration: none;
  
}
.navbar ul{
  display: flex;
  

}

.navbar .nav-items{

margin: auto;
font-size: 16px;
list-style: none;
padding-left: 20px;
padding-right: 20px;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  font-size: 26px;
}


.button{
    background-color: #ec4067;
    font-family: 'Nunito', Times, serif;

}
.container {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
  justify-content:space-between;
  
  align-items: center;

}
/*
.container .info{

  display: flex;
  

}
/*

.content1{
  margin: 0 0 0 10px;
  
}
.content2{
  margin: 0 0 0 10px;
  
}
.Content3{

  margin: 0 0 0 10px;
}

*/

#one {
  float: right;
  justify-content: end;

}
#two {
  float: left;
  justify-content: end;
}
#three{
  float: right;
  justify-content: end;

}
#four{
  float: left;
  justify-content: end;

}



.images{
  max-height: 100px;
}

footer{
    background-color: grey;
    text-align: center;
  color: black;
  padding: 15px;
}


    

